.tag-i{
    cursor: pointer;
    min-width: 60px !important ;
    height: 40px;
    border-radius: 20px;
    margin: 0 5px;
}
.tag-non{
    border: 1px solid #4f4f4f;
}

.tag-active{
    background-color: #299207;
    border-color: #299207;
}
.tag-active p{
    font-weight: bold;
    color: white;
}
.tag-i p {
    padding: 5px 8px ;

}
.fspan i{
    font-size: 2rem;
    padding-right: 4px;
    padding-top: 4px;
}
.tag-div{
    transition: all 2s ease-out;
}
.tag-div input{
    display: none;
}
