.description-changer{
    height: 80%;
}
.description{
    width: 90%;
    height: 60%;
    word-wrap: break-word;
    p{

        text-align: justify;
    }
}

.desc-form{
    transition: all 400ms;
    width:100%;

    display: none;
}

.textarea{
    width:100%;
    min-height: 300px !important;
    font-size: 1.5rem;
}
