.name-display{
    margin: 20px;
}
.name-display p{
    font-weight: bold;
}
.name-display p , .name-display button{
    margin: 0 20px;
}
.name-form{
    margin: 20px;
}

.name-input{
    width: 50% !important;
    margin: 0 25px;
    font-size: 3rem;
    font-weight: bold;
}
