.tag-i, .tag-static {
    cursor: pointer;
    min-width: 60px !important;
    height: 30px;
    border-radius: 4px;
    margin: 0 5px;
    display: flex;
    align-items: center;

    p {
        padding: 5px 8px;
        margin: 0;

    }

    i {
        margin: 0;
padding-top: 9px;

    }
}

.tag-non {
    border: 1px solid #4f4f4f;
}

.tag-active {
    background-color: #299207;
    border-color: #299207;

    p, i {
        font-weight: bold;
        color: white;
    }
}


.tag-div {
    transition: all 2s ease-out;

    input {
        display: none;
    }
}

