.tag-w{
    max-width: 20%;
    margin-left: 10px;
}

.tag-align{
    vertical-align: middle;
}

.tag-modal{
    height: auto;
    min-height: 20vh ;





        .f-div{
            overflow: auto;


            .row{
                overflow: auto;
            }


        }

}
